apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: grafana # Muss matchen mit dem Namespace aus dem ApplicationSet
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`grafana.limoj.de`)
      kind: Rule
      services:
        - name: grafana
          port: 80
